--find-links https://data.pyg.org/whl/torch-2.11.0+cpu.html
matplotlib
deeprobust
torch
torch_geometric
torch_scatter
torch_sparse
numpy
networkx
numba
scipy
pandas
scikit_learn
openai
httpx
transformers
